In [10]:

student = {'name':'John','age': 25, 'courses': ['Math', 'Compsci']}

student['phone'] = '555-5555'
student['name'] = 'Jane'

#print(student.get('phone', 'Not Found'))
print(student)

{'name': 'Jane', 'age': 25, 'courses': ['Math', 'Compsci'], 'phone': '555-5555'}

In [11]:
student = {'name':'John','age': 25, 'courses': ['Math', 'Compsci']}

student.update({'name': 'Jane', 'age': 26, 'phone': '555-5555'})

#print(student.get('phone', 'Not Found'))
print(student)

{'name': 'Jane', 'age': 26, 'courses': ['Math', 'Compsci'], 'phone': '555-5555'}

In [14]:
student = {'name':'John','age': 25, 'courses': ['Math', 'Compsci']}

age = student.pop('age')

print(student)
print(age)

{'name': 'John', 'courses': ['Math', 'Compsci']}
25

In [19]:
student = {'name':'John','age': 25, 'courses': ['Math', 'Compsci']}

print(student.items())

dict_items([('name', 'John'), ('age', 25), ('courses', ['Math', 'Compsci'])])

In [23]:
student = {'name':'John','age': 25, 'courses': ['Math', 'Compsci']}

for key, value in student.items():
    print(key, value)

name John
age 25
courses ['Math', 'Compsci']